<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Showing Posts</title>
    <div th:replace="partials/partials :: head"/>
</head>
<body>
<nav th:replace="partials/partials :: navbar" />

<nav th:replace="partials/partials :: jumbotron" />

<div class="container">
    <h1>Recent Posts</h1>

    <div>
        <!-----View Post------>
        <h2 style="font-weight: bold;" th:text="${post.getTitle()}" ></h2>
        <h4 th:text="${post.getBody()}" ></h4>

        <!--Post Id-->
        <p style="padding-left: 2rem">Post Id:</p>
        <span style="padding-left: 2rem;" th:text="${post.getId()}" ></span>

    </div>


</div>


<nav th:replace="partials/partials :: footer" />
</body>
</html>