<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Showing Posts</title>
    <div th:replace="partials/partials :: head"/>
</head>
<body>
<nav th:replace="partials/partials :: navbar" />

<nav th:replace="partials/partials :: jumbotron" />

<div class="container">
    <h1>Recent Posts</h1>

    <div>
        <!-----View Post------>
        <h2 style="font-weight: bold;" th:text="${post.getTitle()}" ></h2>
        <h4 th:text="${post.getBody()}" ></h4>


        <!-------EDIT------->
        <a th:href="@{|/posts/edit/${post.getId()}|}"><p style="padding-left: 2rem;">Edit post</p></a>

        <!-------DELETE------->
        <a th:href="@{|/posts/delete/${post.getId()}|}"><p style="padding-left: 2rem;">DELETE</p></a>

    </div>

    <div>Created By:</div>
    <div th:text="${post.getUser().getEmail()}"></div>


    <div class="container"><a href="/posts">Back to Home</a></div>

</div>


<nav th:replace="partials/partials :: footer" />
</body>
</html>