<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Home</title>

    <div th:fragment="head">
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </div>

</head>
<body>


    <nav th:fragment="navbar" class="navbar fixed-top" style="background: #CBCBCD;" >
        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/hello/Fortuna">Hello</a></li>
            <li><a href="/join">Join</a></li>
            <li><a href="/welcome">Welcome</a></li>
            <li><a href="/roll-dice">Roll The Dice</a></li>
            <li><a href="/posts">Posts</a></li>
        </ul>
    </nav>

    <div th:fragment="jumbotron" class="container">
        <div class="jumbotron" style="background: #71658E;" >
            <h1 class="display-4">Mitchel's Posts</h1>
        </div>
    </div>


    <div th:fragment="footer">
        <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </div>


</body>
</html>